@{
    ViewData["Title"] = "Home Page - View all Customers";
}

<div class="text-center">
    <h1 class="display-4">Our Customers</h1>
    <p>Data got from Web API - url : <a class="btn btn-secondary btn-success" target="_blank" href="https://localhost:44346/api/customers">GET CUSTOMERS</a>.</p>
</div>

<table>

</table>
